<!DOCTYPE html>
<html>

<head>

    <title>FinBot AI</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="color-scheme" content="dark">

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

    <!-- SIDEBAR -->

    <div class="sidebar">

    <div class="logo-section">

        <img src="{{ url_for('static',
        filename='images/bot.png') }}">

        <div>

            <h2>FinBot AI</h2>

            <p>Your Finance Assistant</p>

        </div>

    </div>


    <div class="sidebar-menu">

        <div
        id="dashboard-tab"
        class="menu-item active"
        onclick="openDashboard()"
>
            🏠 Dashboard

            <span>Overview & Insights</span>

        </div>


        <div
        id="sip-tab"
        class="menu-item"
        onclick="openSIPPanel()"
>

            📈 SIP Calculator

            <span>Plan your wealth</span>

        </div>


        <div
        id="emi-tab"
        class="menu-item"
        onclick="openEMIPanel()"
>

            🏦 EMI Calculator

            <span>Loan planning</span>

        </div>


        <div
        id="lumpsum-tab"
        class="menu-item"
        onclick="openLumpsumPanel()"
>

            💰 Lumpsum Calculator

            <span>One-time investment</span>

        </div>


        <div
        id="brokerage-tab"
        class="menu-item"
        onclick="openBrokeragePanel()">

            📊 Brokerage Calculator

            <span>Trading cost analysis</span>

        </div>


        <div 
        id="history-tab"
        class="menu-item"
        onclick="openHistory()">

            💬 Chat History

            <span>Your conversations</span>

        </div>


        <div
        id="settings-tab"
        class="menu-item"
        onclick="openSettingsPanel()"
>

            ⚙ Settings

            <span>Preferences</span>

        </div>

    </div>

</div>



    <!-- CHAT SECTION -->

    <div class="chat-section">

    <div class="topbar">

    <div class="market-chip">

        Live Market:
        NIFTY 22,531.45

        <span>+0.75%</span>

    </div>


    <div class="profile-section">

        <div class="theme-btn">

            ☀
        </div>

        <img src="{{ url_for('static',
        filename='images/bot.png') }}">

    </div>

</div>

        <!-- HEADER -->

<div id="dashboard-home">

        <div class="chat-header">

            <div class="header-left">

                <img src="{{ url_for('static',
                filename='images/bot.png') }}"
                alt="Bot">

                <div>

                    <h1>FinBot AI</h1>

                    <p>Your Conversational Finance Assistant</p>

                </div>

            </div>

        </div>
</div>

<!-- DYNAMIC DASHBOARD PANEL -->

<div id="dynamic-panel"></div>


        <!-- CHAT AREA -->

<div id="main-content"></div>

        <div id="chat-box">

            <div class="bot-message">

                👋 Hello! I’m FinBot AI.
                <br><br>

                You can:
                <br>
                • Calculate SIP
                <br>
                • Calculate EMI
                <br>
                • Check Brokerage
                <br>
                • Ask Finance Questions

            </div>

        </div>



        <!-- INPUT -->

        <div class="input-area">

            <input type="text"
                   id="user-input"
                   placeholder="Ask something...">

            <button onclick="sendMessage()">

                Send

            </button>

        </div>

    </div>

</div>


<script src="{{ url_for('static',
filename='script.js') }}"></script>

</body>
</html>
